<div class="row">
	<div class="col-md-12">
		<div class="sidebar-panel visitor-info">
			<div class="sidebar-panel-heading">
				<h3>Informace pro návštěvníky</h3>
			</div>
			<div class="sidebar-panel-body">
				<i class="fa fa-facebook-square fa-2x"></i> Sledujte nás na Facebooku!<br><br>
				Příjmáme platbu kartou, sodexo stravenkami<br>
				<i class="fa fa-cc-mastercard fa-lg"></i> <i class="fa fa-cc-visa fa-lg"></i> <i class="fa fa-money fa-lg"></i><br><br>
				<i class="fa fa-wifi"></i> V celém areálu Wifi<br>
				<i class="fa fa-wheelchair"></i> Bezbariérový přístup

				
			</div>		
		</div>
		<div class="sidebar-panel contact">
			<div class="sidebar-panel-heading">
				<h3>Jak k nám:</h3>
			</div>
			<div class="sidebar-panel-body">
				<iframe class="map" width="600" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @restaurant_settings.general_settings[:contact][:address] %>&key=AIzaSyCvdb_cH_yS85fbqSAKl7ULLjdc6X5tiag"></iframe>		
			</div>		
		</div>

		<% unless  @page && @page.id == 4 %>
		<div class="sidebar-panel reservation">
			<div class="sidebar-panel-heading">
				<h3>Zarezervujte si místo</h3>
			</div>
			
				<div class="sidebar-panel-body">
					<%= link_to  "/rezervace", :class=>"btn btn-success"  do %>
						<i class="fa fa-calendar"></i> REZERVOVAT
					<% end %>	
				</div>
		</div>
				
			<% end %>
	  	
	
	  	
	</div>
</div>