<% @menu_categories = MenuCategory.all.arrange(:order => :position) %>
<div class="row jidelnicek">
	<div class="col-md-3">
		<div class="menu-nav-wrapper"  data-spy="affix" data-offset-top="300" >
			<ul class="nav nav-pills nav-stacked menu-nav">
				<% @menu_categories.each do |item, subitems | %>
					<%= render "static_pages/jidelnicek/nav_item", :item => item, :subitems => subitems %>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<% @menu_categories.each do |item, subitems | %>
			<%= render "static_pages/jidelnicek/menu_display_cat", :item => item, :subitems => subitems %>
		<% end %>
	</div>
</div>

<script>
	jQuery(function($){
		console.log("ha");
		$('body').scrollspy({ target: '.menu-nav-wrapper' });
	});
</script>