<div class="row contact">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<h1><%= @page.title%></h1>
				<%= @page.content.html_safe %>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Kontaktní informace</h2>
			</div>
			<div class="col-md-4">
				
				<ul class="list-unstyled">
					<li><i class="fa fa-map-marker fa-2x"></i> <%= @restaurant_settings.general_settings[:contact][:address] %> 
					<li><i class="fa fa-phone fa-2x"></i> <%= @restaurant_settings.general_settings[:contact][:phone] %> 
					<li><i class="fa fa-at fa-2x"></i> <%= mail_to @restaurant_settings.general_settings[:contact][:email] %> 
					<li><i class="fa fa-facebook fa-2x"></i> <%= link_to @restaurant_settings.general_settings[:contact][:facebook], @restaurant_settings.general_settings[:contact][:facebook] %> 
				</ul>
			</div>
			<div class="col-md-8">
				<iframe class="map" width="600" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @restaurant_settings.general_settings[:contact][:address] %>&key=AIzaSyCvdb_cH_yS85fbqSAKl7ULLjdc6X5tiag"></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Otevírací doba na následujících 7 dní</h2>
			</div>
			
			<% t = Time.now %>
			<div class="col-md-12">
				<ul class="list-unstyled">
				
					<% 7.times do |i| %>
					<li>
						<strong><%= localize t, format:("%A") %> :</strong> 
						<% if opening_hours_today %>
							<span class="opening-text"><%= printNiceTime(opening_hours_today[:from]) +" - "+ printNiceTime(opening_hours_today[:to]) %></strong></span>
						<% else %>
							<span class="opening-text"><strong>Dnes</strong> máme <strong>zavřeno</strong>.</span>
						<% end %>	
						
						<% t+= 60*60*24 %>	

					</li>
					<% end %>
				</ul>
			</div>				
		</div>
	</div>
</div>