<div class="row reservation bg-normal">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 ">
				<%= @page.content.html_safe %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">						
				<%= render "shared/frontend/widgets/reservation_form" %>	
			</div>
		</div>
	</div>

</div>