<% content_for :header  do %>
  	<title><%= @restaurant_settings[:general_settings][:restaurant_name]%> <%= @page.title %></title>
<% end %>

<% content_for :sidebar  do %>
<div class="row">
	<div class="col-md-12">
		<div class="sidebar-panel visitor-info">
			<div class="sidebar-panel-heading">
				<h3>Informace pro návštěvníky</h3>
			</div>
			<div class="sidebar-panel-body">
				<i class="fa fa-facebook-square fa-2x"></i> Sledujte nás na Facebooku!<br><br>
				Příjmáme platbu kartou, sodexo stravenkami<br>
				<i class="fa fa-cc-mastercard fa-lg"></i> <i class="fa fa-cc-visa fa-lg"></i> <i class="fa fa-money fa-lg"></i>
				<br><br>
				<i class="fa fa-wifi"></i> V celém areálu Wifi<br>
				<i class="fa fa-wheelchair"></i> Bezbariérový přístup
			</div>			
		</div>
		<div class="sidebar-panel visitor-info">
			<div class="sidebar-panel-heading">
				<h3>Aktuality</h3>
			</div>
			<div class="sidebar-panel-body">
				<% @news.each do |actuality|%>
			  		<div class="row">
			  			<div class="col-md-12">
			  				<div class="actuality">
				  				<div class="actuality-heading">
					  				<h4><%= link_to actuality.title, actuality %></h4>
									  <div class="publish-date"><%=  actuality.updated_at.strftime("%d. %m. %Y") %></div>
					  			</div>
					  			<div class="actuality-content">
					  				<%= truncate(actuality.content, escape: false, length: 200,  separator: ' ', omission:' ') { link_to "Více..", actuality}%>
					  				<%=  %> 
					  			</div>
					  		</div>
			  			</div>
			  		</div>
			  	<% end %>
			</div>			
		</div>
	  	
	
	  	
	</div>
</div>
  	
<% end %>



<div class="row homepage">
	<div class="col-md-12">
		<div class="row opening bg-normal">
			<div class="col-md-12">
				<% if opening_hours_today %>
					<span class="opening-text"><strong>Dnes</strong> máme otevřeno: <strong><%= printNiceTime(opening_hours_today[:from]) +" - "+ printNiceTime(opening_hours_today[:to]) %></strong></span><br>
					Přijďte si k nám vychutnat skvělé jídlo a pití.
				<% else %>
					<span class="opening-text"><strong>Dnes</strong> máme <strong>zavřeno</strong>.</span><br>Zarezervovat stůl na Váš příští kulinářský zážitek můžete již teď!
				<% end %>				
			</div>
		</div>
		
		<div class="row food-example bg-highlight">
			<div class="col-md-12">

				<%= @carousel_title.html_safe %><br>

				<div class="row">
					<div class="col-md-8 col-md-push-2">

						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						  	<% @carousel_foods.each_with_index do |food, i| %>
							    <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%= 'active' if i==0 %>"></li>
							<% end %>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
						  	<% @carousel_foods.each_with_index do |food, i| %>
							    <div class="item <%= 'active' if i == 0 %>">
							      <%=image_tag food.image %>
							      <div class="carousel-caption">
							      	<h3><%=link_to food.name, "jidelnicek/#menu-food-#{food.id}" %></h3>
							      	<p><%=food.description%></p>
							      </div>
							    </div>
						    <% end %>
						  </div>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="row reservation bg-normal">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12 ">
						<strong class="heading">Zarezervujte si ještě teď</strong> místo v naší restauraci a užijte si komfort, soukromí a rychlejší obsluhu.
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">						
						<%= render "shared/frontend/widgets/reservation_form" %>	
					</div>
				</div>
			</div>

		</div>
		<div class="row location bg-highlight">
			<div class="col-md-12">
				<strong class="heading">Neváhejte nás navštívit</strong>, máme dostatek míst jak pro kola, tak i pro auta.
				<iframe class="map" width="600" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @restaurant_settings.general_settings[:contact][:address] %>&key=AIzaSyCvdb_cH_yS85fbqSAKl7ULLjdc6X5tiag"></iframe>

			</div>
		</div>




	</div>
</div>