<% content_for :header  do %>
  	<title><%= @restaurant_settings[:general_settings][:restaurant_name]%> | <%= @page.title %></title>
<% end %>

<% content_for :sidebar  do %>
 <%= render "shared/frontend/standard_sidebar" %> 	
<% end %>



<div class="row">
	<div class="col-md-12">

				<% case @page.id %>
					<% when 3 %>
						<%= render "static_pages/jidelnicek" %>
					
					<% when 4 %>
						<%= render "static_pages/rezervace" %>
					<% when 5 %>
						<%= render "static_pages/kontakt" %>
				<% else %>
					<div class="row  bg-normal">
						<div class="col-md-12">
							<h1><%= @page.title%></h1>
							<%= @page.content.html_safe %>	
							</div>
					</div>
				<% end %>					
			
	</div>
</div>