<% content_for :page_heading  do %>
  <h1>Nová položka menu</h1>
<% end %>
<%= debug @params %>

<div class="row">
  <div class="col-md-12">
    <%= form_for([:admin,:nav, @nav_item]) do |f| %>
      <% if @nav_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@nav_item.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
          <% @nav_item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
	
	<%= f.hidden_field :parent_id %>
    <div class="form-group">
    	<%= f.label :type do %>Vyberte typ položky<%end%>
        <%= f.submit "Statická stránka", :class =>"form-control"%>
        <%= f.submit "Výpis článků", :class =>"form-control"%>
        <%= f.submit "Externí odkaz", :class =>"form-control"%>
    </div>   

    <% end %>

  </div>
</div>
