<% i = defined? image 
i = i && image.exists? if i  %>
<div class="image-upload-widget <%= 'with-form-buttons' if defined? has_form_buttons %>">
  <div class="<%= (i)? 'image-edit' : 'image-new'  %>">
    <%= image_tag image.url , :class=> 'img-responsive image-upload-uploaded-image' if i  %>
    <div class="image-upload-info-container">      
      <span class="image-caption"><%= (i)? (CGI::unescape image.url.split("/").last.split("?").first) : "Žádný obrázek" %></span>
      <div class="image-upload-buttons-container">             
        <div class="image-upload btn btn-info">
            <span class="image-upload-button-caption"><%= (i)? "Jiný obrázek" : "Nahrát obrázek"  %></span>
            <%= form.file_field :"#{image_input_name}", :class=> "image-upload-input" %>
        </div>
        <%= link_to "", "#", :value => "", :class=>"ico ico-back  image-upload-revert-image-btn", :title=>"Zrušit změny" if defined? has_form_buttons  %>     
         <%= button_tag "", :value => "", :class=>"ico ico-save image-upload-save-image-btn", :title=>"Uložit obrázek" if defined? has_form_buttons  %>
              <%= link_to "", "#", :title=>"Odstranit obrázek", :class=>"ico ico-destroy image-upload-delete-image-btn " %>        
         <%= form.check_box :delete_image, :class=>"image-upload-delete-image-input" %>
      </div>
    </div>
  </div>
 
</div>