<div class="row" ng-controller="TagsCtrl"  ng-init="init('<%= @admin_article.slug %>', '<%= form_authenticity_token %>')">
  <div class="col-md-12">
    <%= form_for([:admin, @admin_article]) do |f| %>
      <div class="form-group">
        <%= f.label :title do %>Nadpis<%end%>
        <%= f.text_field :title, :class =>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :content do %>Obsah<%end%><br>
        <%= f.text_area :content, :class =>"form-control  tinymce"  %>
        <%= tinymce %>
      </div>

      <div class="form-group tags">
        <div class="row">
          <div class="col-md-6">
            <h4>Dostupné tagy</h4>
            <span class="tag label label-info" ng-repeat="tag in available_tags|filter:new_tag_name" ng-click="add_tag_to_artcl(tag)">
                {{tag}}
            </span>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filtrovat/vytvořit tagy" ng-model="new_tag_name">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" ng-click="create_tag(new_tag_name)">Vytvořit nový</button>
                </span>
              </div><!-- /input-group -->
          </div>

          <div class="col-md-6">
              <h4>Zvolené tagy</h4>
                <span class="tag label label-info" ng-repeat="tag in article_tags" ng-click="remove_tag_to_artcl(tag)">
                    <input type="hidden" name="article[tags][]" value="{{tag}}">
                    {{tag}}
                </span>
            </div>
        </div>
      </div>
      <div class="actions form-group">
        <% unless (link_back.blank?) %>
          <%= link_to "Zpět", link_back, :class => "btn btn-info" %>
        <% end %>
        <%= f.submit :value => "Uložit", :class=>"btn btn-success" %>
      </div>      
    <% end %>
  </div>
</div>
