<% content_for :page_heading  do %>
  <h1>Aktuality</h1>
<% end %>
<% unless notice.blank? %>
<div class="alert alert-success alert-dismissible">  
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
  
</div>
<%end %>
<table class="table">
  <thead>
    <tr>
      <th>Název</th>
      <th>Naposledy upraveno</th>
      <th>Tagy</th>
      <th>Akce</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_articles.each do |admin_article| %>
      <tr>
        <td><%= admin_article.title %></td>
        <td><%= admin_article.updated_at.strftime("%d. %m. %Y  v %R") %></td>
        <td>
          <% admin_article.article_tag.all.each do |tag| %>
          <span class="label label-info"><%=tag.name%></span>
          <%end%>
        </td>
        <td>
          <a href="<%= url_for controller: "/articles", action: "show", id: admin_article.slug%>" class="btn btn-default" title="Zobrazit na webu">
            <i class="fa fa-eye"></i>
          </a>
          <%= link_to edit_admin_article_path(admin_article), :class=>"btn btn-warning", :title=>"Upravit" do%>
              <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to admin_article_path(admin_article), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :class=> "btn btn-danger", :title=>"Odstranit" do %>
            <i class="fa fa-trash"></i>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Nový článek', new_admin_article_path, :class=>"btn btn-success" %>