<% content_for :header  do %>
  	<title><%= @restaurant_settings[:general_settings][:restaurant_name]%> | <%= @article.title %></title>
<% end %>

<% content_for :sidebar  do %>
 <%= render "shared/frontend/standard_sidebar" %> 	
<% end %>



<div class="row article">
	<div class="col-md-12">
		<div class="row  bg-normal">
			<div class="col-md-12">
				<h1><%=@article.title %></h1>
					<%= @article.content.html_safe %>						
			</div>
		</div>
	</div>
</div>