<% content_for :page_heading  do %>
  	<h1>Rezervace</h1>
<% end %>

<div class="row reservations">
	<div class="col-md-12">
		 <div class="row">
		  <div class="col-md-12">
		    <%= render "admin/shared/admin_messages"%>
		  </div>
		</div>

		<div class="row reservation-add-container" ng-controller="ReservationsSetCtrl">			
			<div class="col-md-10 col-md-push-1">
				<%= form_for [:admin, @new_reservation], :class=>"form" do |f| %>
				<div class="panel panel-default" id='new_reservation'>
						<div class="panel-heading" role="tab" id="headingOne">
	                      <div class="panel-heading-content">Nová rezervace</div>              
				          <span class="icos-right pull-right info" ng-hide="new_reservation_editing">
				            <a title="Přidat rezervaci" class="ico ico-new" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0" ng-click="new_reservation_editing = true"></a> 				             
				          </span>
				          <span class="icos-right pull-right edit" ng-show="new_reservation_editing">
				            <%= button_tag "", :value => "", :class=>"ico ico-save", :title=>"Uložit rezervaci", :'ng-click'=>"new_reservation_editing = false"  %>
				            <a title="Zrušit" class="ico ico-back" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0" ng-click="new_reservation_editing = false"  ></a>  
				           </span>
	                    </div>
	                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0"> 
	                    	<div class="panel-body">       
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">	
													<label>Datum</label>
													<input type="text" name="reservation[reservation_date]" class="datepicker form-control", ng-change="getTimesForDay();", ng-model="reservation.DateInput" ng-init = "reservation.DateInput = '<%= Time.now.strftime('%d.%m.%Y')%>'; getTimesForDay();" >
												</div>

												<div class="errors">
													<div class="error" ng-repeat="error in errors['date_errors']">
														<div class="alert alert-danger" role="alert">{{error}}</div>
													</div>
												</div>	


												<div ng-show="reservation.DateInput && (errors['date_errors'].length==0)" >	
													<div class="row" ng-init="connectFromTo('reservation[from]', 'reservation[to]')">
														<div class="col-md-6 form-group">
															<label>Od</label>
															<%= render "shared/widgets/time_input", key: "reservation[from]"%>
														</div>
														<div class="col-md-6 form-group">										
															<label>Do</label>
															<%= render "shared/widgets/time_input", key: "reservation[to]" %>
														</div>
													</div>
													<div class="errors">
														<div class="error" ng-repeat="error in errors['pick_room_errors']">
															<div class="alert alert-danger" role="alert">{{error}}</div>
														</div>
													</div>	
												</div>												
												<div class="form-group">
													<%= f.label :name do %>Jméno:<%end%>
													<%= f.text_field :name, class: "form-control", :required=>'' %>
												</div>	
												<div class="form-group">
													<%= f.label :email do %>Váš email:<%end%>
													<%= f.email_field :email, class: "form-control", :required=>'' %>
												</div>
												<div class="form-group">
													<%= f.label :tel do %>Váš telefon:<%end%>
													<%= f.telephone_field :tel, class: "form-control", :required=>'' %>
												</div>	
												<div class="form-group">
													<%= f.label :note do %>Poznámka k rezervaci:<%end%>
													<%= f.text_area :note, class: "form-control"%>
												</div>		
											</div>																		
											<div class="col-md-6">

												<div  ng-show="reservation.DateInput && (errors['date_errors'].length==0)" >	
													
													<div class="errors">
														<div class="error" ng-repeat="error in errors['pick_room_errors']">
															<div class="alert alert-danger" role="alert">{{error}}</div>
														</div>
													</div>	
													<div class="reservation-tables" ng-init="reservation.tables = [{}];">
														<div class="reservation-table" ng-repeat="table in reservation.tables">	
															<div class="panel panel-default">
																<div class="panel-heading">
																	<div class="panel-heading-content">Stůl	{{ (available_tables[$index] | filter:{id: reservation['item'][$index]['table']}:true)[0].number }}
																	</div>
																	<span class="icos-right pull-right">
																		<a class='ico ico-destroy pull-right' ng-if=" $index>0 " ng-click='reservation.tables.splice($index, 1)'></a>				
															        </span>
																</div>
																<div class="panel-body">
																	<div class="row">
																		<div class="col-md-6">
																			<div class="form-group">										
																				<label>Počet osob u stolu</label>
																				<%= f.number_field :persons, :class=>"form-control", :'ng-model'=>"reservation['item'][$index]['persons']", :'ng-init'=> "reservation['item'][$index]['persons'] = 2", :'ng-change'=>"filterRooms($index)", min: 1, max: 100 %>
																			</div>
																			<div class="form-group">										
																				<label>Chci nekuřáckou místnost</label>
																				<input id = "checkbox-10-smoking{{$index}}" type="checkbox" class="form-control" ng-model="reservation['item'][$index]['no_smoking_room']" ng-init="reservation['item'][$index]['no_smoking_room'] = true;  ($index!=0)? filterRooms(): ''" ng-change="filterRooms($index)">
																				<label for="checkbox-10-smoking{{$index}}" ></label> 
																			</div>
																		</div>			
																		<div class="col-md-6">
																			<div class="form-group">										
																				<label>Místnost</label>
																				<select name = "reservation[item][{{$index}}][room]" ng-model = "reservation['item'][$index]['room']" ng-options = "room.id as room.name for room in available_rooms[$index]" ng-change="filterRooms($index)">
																				</select>
																				<input type="hidden" value = "{{reservation['item'][$index]['room']}}" name = "reservation[item][{{$index}}][room]" >																
																			</div>	
																			<div class="form-group" ng-show="errors.item[$index]['no_table_errors'].length==0">
																				<label>Stůl</label>
																				<select  name = "reservation[item][{{$index}}][table]"  ng-model = "reservation['item'][$index]['table']" ng-options = "table.id as table.number for table in available_tables[$index]"  ng-change="filterRooms($index)"> 
																				</select>
																				 <input type="hidden" value = "{{reservation['item'][$index]['table']}}" name = "reservation[item][{{$index}}][table]" >
																			</div>											
																		</div>
																		<div class="col-md-6">
																			<div class="row">
																				<div class="col-md-12">
																					<div class="errors">
																						<div class="error" ng-repeat="error in errors.item[$index]['no_table_errors']">
																							<div class="alert alert-danger" role="alert">{{error}}</div>
																						</div>
																					</div>	
																				</div>
																			</div>
																								
																		</div>
																	</div>																	
																</div>
															</div>																		
														</div>
						
														<a href ng-click='reservation.tables.push({});' class='btn btn-info add-table'>Přidat stůl</a>

													</div>
												</div>
										
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<%= button_tag "Uložit rezervaci", :value => "", :class=>"btn btn-success", :title=>"Uložit rezervaci"%>
				            
								
							</div>
						</div>
					
				</div>		
				<% end %>					
			</div>			
		</div>



		<div class="row reservations-list-container" ng-controller="ReservationsDisplayCtrl">
			<div class="col-md-12">
				<div class="row">
					<div ng-repeat="room in reservations">
						<div class="col-md-6 room-container">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="panel-heading-content">								
										{{room.name}}
									</div>
								</div>
								<ul class="list-group reservations-list" ng-init="room_filter[$index]['display_ended'] = false">
									<li class="list-group-item">
										<div class="filtering">
											<a ng-class="(room_filter[$index]['display_ended'])? 'active' : '' " ng-click="getReservations(); room_filter[$index]['display_ended'] = (room_filter[$index]['display_ended'])? room_filter[$index]['display_ended'] : !room_filter[$index]['display_ended']" class="btn btn-filter">Probíhající a ukončené</a>
											<a ng-class="!(room_filter[$index]['display_ended'])? 'active' : ''"   ng-click="getReservations(); room_filter[$index]['display_ended'] = (!room_filter[$index]['display_ended'])? room_filter[$index]['display_ended'] : !room_filter[$index]['display_ended']"  class="btn btn-filter">Nadcházející</a>
										</div>
									</li>
									<li ng-class="(reservation.time_diff< 1000*60*5 && reservation.time_diff >= 0 )? 'list-group-item-danger': ( (reservation.time_diff< 1000*60*30 && reservation.time_diff >= 0 )? 'list-group-item-warning': '')" class="list-group-item reservation" ng-repeat="reservation in room.reservations | orderObjectBy:'time_from':room_filter[$index]['display_ended'] | filter:{ended:room_filter[$index]['display_ended']}  ">
										<div class="reservation-content table-number" title="číslo stolu"><i class="fa fa-tag"></i> {{reservation.table_number}}</div>
										<div class="reservation-content"><i class="fa fa-clock-o"></i> {{reservation.time_from_now}}</div>
										<div class="reservation-content"><i class="fa fa-user"></i> {{reservation.name}}</div>
										<div class="reservation-content destroy">
											<a class="ico ico-info" data-container="body"  tabindex="0" data-trigger="focus" data-toggle="popover" title="Detail rezervace" data-content="<i class='fa fa-at'></i> : <a href='mailto:{{reservation.email}}'>{{reservation.email | strLimit:40}}</a><br><i class='fa fa-phone'></i> : {{reservation.tel || 'Nezadaný'}}<br><i class='fa fa-comments-o'></i> : {{reservation.note || 'Žádná poznámka'}}">{{ (reservation.note.length>0)? '!': '' }}</a>
											<script>
												$('.reservations-list-container .ico-info').popover({placement: 'auto right', html: true});
											</script>

											<a class="ico ico-destroy" data-toggle="modal" data-target="#myModal{{$index}}"></a>
										</div>
										
											<!-- Modal -->
											<div class="modal fade" id="myModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											  <div class="modal-dialog">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											        <h4 class="modal-title" id="myModalLabel">Dejte vědět zákazníkovi, že rušíte rezervaci</h4>
											      </div>
											      <div class="modal-body">
											      	<p>
											        Kontaktujte zákazníka na:<br>
											        <i class='fa fa-at'></i> : <a href='mailto:{{reservation.email}}'>{{reservation.email | strLimit:40}}</a><br>
											        <i class='fa fa-phone'></i> : {{reservation.tel || 'Nezadaný'}}
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Zpět</button>
											        <a class="btn btn-danger" data-method="delete" href="/admin/reservations/{{reservation.id}}" rel="nofollow" title="zrušit rezervaci">Zrušit rezervaci</a>
											      </div>
											    </div>
											  </div>
											</div>

											
										
										
										<br>
									</li>
									<li class="list-group-item" ng-hide="(room.reservations | orderObjectBy:'time_from':room_filter[$index]['display_ended'] | filter:{ended:room_filter[$index]['display_ended']}).length>0 "> Žádné rezervace k zobrazení </li> 
								</ul>
									
							</div>		
						</div>

					</div>
				</div>



			</div>
		</div>
	


	</div>
</div>