// Place all the styles related to the admin/settings/opening controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurant-opening{
	.day-wrapper{
		.time-range-wrapper{
			table{
				text-align: center;
				tr.table-subheading{
					th{
						text-align: center;
					}
				}
				tr.table-heading{
					font-size: 14px;
				}
				tr{
						font-size: 12px;			
				
				}
				td{
					vertical-align: middle;		
				}

			}
		}
	}
}