// Place all the styles related to the admin/settings/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.settings-rooms{
	.restaurant-scheme{
		margin-bottom: 20px;
	}
	.room-panels-container{
		.panel-heading{
				padding: 0;
				height: 40px;
				line-height: 40px;
				.panel-heading-content{
					padding: 0 20px;
					display: inline-block;
				}
				.icos-left i{
					border-right: 1px solid $admin-border-color;
					font-size: 20px;
					line-height: 40px;
					width: 40px;
					display: inline-block;
					text-align: center;	
					cursor: pointer;	
					background: white;
				}
				.icos-right{
					.ico{
						font-size: 20px;
						line-height: 40px;
						height: 40px;
						width: 40px;
						display: block;
						float: left;
						border-left: 1px solid $admin-border-color;							
						cursor: pointer;	
					}
					
				}
		}
		.room{
			.fields{
				display: inline-block;
			}
			.room-table{
				display: table;
				border: 2px solid $btn-default-border;	
				background: $btn-default-bg;
				padding: 0;
				margin: 5px;				
				.room-table-group{
					display: table-cell;				
					vertical-align: middle;
					&.actions{
						border-left: 1px solid $btn-default-border;
						.ico{
							display: block;
						}
					}
					.room-table-part{
						padding: 0 4px;
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						&:not(:last-child){
							border-right: 1px solid $btn-default-border;
						}
						//padding: 5px 0;				
						
						.form-group{
							label{
								width: 100%;
								margin-bottom:0px;
								padding-bottom: 3px;
							}
							input{
								width: 32px;
								height: 32px;
								padding: 0;
								line-height: 32px;
								text-align: center;
								border-color: none;
								border-radius: 20px;
							}
							margin: 0;
						}
					}
				}
				&.new-room-table{
					height: 64px;
					width: 118px;
					text-align: center;
				}
			}

		}
	}



}