<div class="row">
  <div class="col-md-12">
    <%= form_for([:admin, @nav]) do |f| %>
      <% if @nav.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@nav.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
          <% @nav.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name do %>Název<%end%>
        <%= f.text_field :name, :class =>"form-control"%>
      </div>      
      <div class="actions form-group">
        <% unless (link_back.blank?) %>
          <%= link_to "Zpět", link_back, :class => "btn btn-info" %>
        <% end %>
        <%= f.submit :value => "Uložit", :class=>"btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
