<% content_for :page_heading  do %>
  <h1>Úprava menu</h1>
<% end %>



<div class="row">
	<div class="col-md-12">
		<ul class="list-unstyled nav_structure">
			<%= render "admin/shared/nav", :nav => @nav_items.arrange %>
		</ul>



	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to new_admin_nav_nav_item_path(params[:id], nil), :class=> "btn btn-default" do%>
			<i class="fa fa-plus"></i>
		<% end %> 
	</div>
</div>

<% unless @nav.id == 1 %> 
	<%= render 'form', { :link_back => admin_navs_path } %>
<% end %>