<% content_for :page_heading  do %>
  <h1>Menu</h1>
<% end %>

<% unless notice.blank? %>
<div class="alert alert-success alert-dismissible">  
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
  
</div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Název</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @navs.each do |nav| %>
      <tr>
        <td><%= nav.name %></td>
        <td>         
          <%= link_to edit_admin_nav_path(nav), :class=>"btn btn-warning", :title=>"Upravit" do%>
              <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to admin_nav_path(nav), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :class=> "btn btn-danger", :title=>"Odstranit" do %>
            <i class="fa fa-trash"></i>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nové menu', new_admin_nav_path %>
