<% content_for :page_heading  do %>
  <h1>Nastavení restaurace - obecná nastavení</h1>
<% end %>
<div class="row">
	<div class="col-md-12">
		<div class="row">
	      <div class="col-md-12">
	        <%= render "admin/shared/admin_messages"%>
	      </div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
		    <div class="panel-heading">
		    	<div class="panel-heading-content"><h2 class="panel-title">Obecná nastavení</h2></div>
		    </div>
		    <%= form_for(@restaurant_settings, :url=> url_for(:controller =>'restaurant_settings', :action=>'update', :id=> 1), :html=> {:class=>'form'}) do |f| %>						
			  	<div class="panel-body">
			  			<div class="row">
					    	<div class="col-md-12">
					    		<div class="form-group">
					    			<label for="input_restaurant_name">Název restaurace</label>
					    			<input type="text" class="form-control" name="restaurant_settings[general_settings][restaurant_name]" value="<%= @restaurant_settings[:general_settings][:restaurant_name] unless @restaurant_settings[:general_settings].nil?  %>">	
					    		</div>
					    	</div>
					    	<div class="col-md-12">
						    	<div class="panel panel-default">
						    		<div class="panel-heading">
						    			<div class="panel-heading-content">Kontaktní informace</div>
						    		</div>
						    		<div class="panel-body">
						    			<div class="form-group">
						    				<label for="input_restaurant_name">Adresa</label>
						    				<input type="text" class="form-control" name="restaurant_settings[general_settings][contact][address]" value="<%= @restaurant_settings[:general_settings][:contact][:address] unless @restaurant_settings[:general_settings].nil? %>">	
						    			</div>
						    			<div class="form-group">
						    				<label for="input_restaurant_name">Facebook</label>
						    				<input type="url" class="form-control" name="restaurant_settings[general_settings][contact][facebook]" value="<%= @restaurant_settings[:general_settings][:contact][:facebook] unless @restaurant_settings[:general_settings].nil? %>">	
						    			</div>
						    			<div class="form-group">
						    				<label for="input_restaurant_name">Telefon</label>
						    				<input type="tel" class="form-control" name="restaurant_settings[general_settings][contact][phone]" value="<%= @restaurant_settings[:general_settings][:contact][:phone] unless @restaurant_settings[:general_settings].nil? %>">	
						    			</div>
						    			<div class="form-group">
						    				<label for="input_restaurant_name">Email</label>
						    				<input type="email" class="form-control" name="restaurant_settings[general_settings][contact][email]" value="<%= @restaurant_settings[:general_settings][:contact][:email] unless @restaurant_settings[:general_settings].nil? %>">	
						    			</div>

						    		</div>
						    	</div>
					    	</div>
				
						</div>	   
		     	</div>
		     	<div class="panel-footer">
					<%= button_tag "Uložit nastavení", :value => "", :class=>"btn btn-success", :title=>"Uložit nastavení"%>	
				</div>	
			 <% end %>			
		</div>
 	</div>
</div>
