<div class="row reservation-widget" ng-controller="ReservationsSetCtrl">
	<div class="col-md-12">
		<%= form_for Reservation.new, :html=>{:class=>"form reservation-form"} do |f| %>
			<div class="panel panel-default" id='new_reservation'>
				<div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-heading-content">Nová rezervace</div>              
                </div> 
            	<div class="panel-body">       
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">	
										<label>Datum</label>
										<input type="text" name="reservation[reservation_date]" class="datepicker form-control", ng-change="getTimesForDay();", ng-model="reservation.DateInput" ng-init = "reservation.DateInput = '<%= Time.now.strftime('%d.%m.%Y')%>'; getTimesForDay();" >
									</div>

									<div class="errors">
										<div class="error" ng-repeat="error in errors['date_errors']">
											<div class="alert alert-danger" role="alert">{{error}}</div>
										</div>
									</div>	


									<div ng-show="reservation.DateInput && (errors['date_errors'].length==0)" >	
										<div class="row" ng-init="connectFromTo('reservation[from]', 'reservation[to]')">
											<div class="col-xs-6 form-group">
												<label>Od</label>
												<%= render "shared/widgets/time_input", key: "reservation[from]"%>
											</div>
											<div class="col-xs-6 form-group">										
												<label>Do</label>
												<%= render "shared/widgets/time_input", key: "reservation[to]" %>
											</div>
										</div>
										<div class="errors">
											<div class="error" ng-repeat="error in errors['pick_room_errors']">
												<div class="alert alert-danger" role="alert">{{error}}</div>
											</div>
										</div>	
									</div>												
									<div class="form-group">
										<%= f.label :name do %>Jméno* :<%end%>
										<%= f.text_field :name, class: "form-control", :required=>'', :'ng-model'=>"name"%>
									</div>	
									<div class="form-group" ng-show="name">
										<%= f.label :email do %>Váš email* :<%end%>
										<%= f.email_field :email, class: "form-control", :required=>'', :'ng-model'=>"email" %>
									</div>
									<div class="form-group"  ng-show="email">
										<%= f.label :tel do %>Váš telefon* :<%end%>
										<%= f.telephone_field :tel, class: "form-control", :required=>'', :'ng-model'=>"telephone"  %>
									</div>	
									<div class="form-group" ng-show="telephone">
										<%= f.label :note do %>Poznámka k rezervaci:<%end%>
										<%= f.text_area :note, class: "form-control"%>
									</div>		
									* povinné položky
								</div>																		
								<div class="col-sm-6">

									<div  ng-show="reservation.DateInput && (errors['date_errors'].length==0)" >	
										
										<div class="errors">
											<div class="error" ng-repeat="error in errors['pick_room_errors']">
												<div class="alert alert-danger" role="alert">{{error}}</div>
											</div>
										</div>	
										<div class="reservation-tables" ng-init="reservation.tables = [{}];">
											<div class="reservation-table" ng-repeat="table in reservation.tables">	
												<div class="panel panel-default">
													<div class="panel-heading">
														<div class="panel-heading-content">Stůl	{{ (available_tables[$index] | filter:{id: reservation['item'][$index]['table']}:true)[0].number }}
														</div>
														<span class="icos-right pull-right">
															<a class='ico ico-destroy pull-right' ng-if=" $index>0 " ng-click='reservation.tables.splice($index, 1)'></a>				
												        </span>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-xs-6">
																<div class="form-group">										
																	<label>Počet osob u stolu</label>
																	<%= f.number_field :persons, :class=>"form-control", :'ng-model'=>"reservation['item'][$index]['persons']", :'ng-init'=> "reservation['item'][$index]['persons'] = 2", :'ng-change'=>"filterRooms($index)", min: 1, max: 100 %>
																</div>
																<div class="form-group">										
																	<label>Chci nekuřáckou místnost</label>
																	<input id = "checkbox-10-smoking{{$index}}" type="checkbox" class="form-control" ng-model="reservation['item'][$index]['no_smoking_room']" ng-init="reservation['item'][$index]['no_smoking_room'] = true;  ($index!=0)? filterRooms(): ''" ng-change="filterRooms($index)">
																	<label for="checkbox-10-smoking{{$index}}" ></label> 
																</div>
															</div>			
															<div class="col-xs-6">
																<div class="form-group">										
																	<label>Místnost</label>
																	<select name = "reservation[item][{{$index}}][room]" ng-model = "reservation['item'][$index]['room']" ng-options = "room.id as room.name for room in available_rooms[$index]" ng-change="filterRooms($index)">
																	</select>
																	<input type="hidden" value = "{{reservation['item'][$index]['room']}}" name = "reservation[item][{{$index}}][room]" >																
																</div>	
																<div class="form-group" ng-show="errors.item[$index]['no_table_errors'].length==0">
																	<label>Stůl</label>
																	<select  name = "reservation[item][{{$index}}][table]"  ng-model = "reservation['item'][$index]['table']" ng-options = "table.id as table.number for table in available_tables[$index]"  ng-change="filterRooms($index)"> 
																	</select>
																	 <input type="hidden" value = "{{reservation['item'][$index]['table']}}" name = "reservation[item][{{$index}}][table]" >
																</div>											
															</div>
															<div class="col-xs-6">
																<div class="row">
																	<div class="col-md-12">
																		<div class="errors">
																			<div class="error" ng-repeat="error in errors.item[$index]['no_table_errors']">
																				<div class="alert alert-danger" role="alert">{{error}}</div>
																			</div>
																		</div>	
																	</div>
																</div>
																					
															</div>
														</div>																	
													</div>
												</div>																		
											</div>				
										
											<div class="row">
												<div class="col-md-12">
													<div class="errors">
														<div class="error" ng-hide="reservation.tables.length<4">
															<div class="alert alert-warning" role="alert">Pokud si chcete zarezervovat více než 4 stoly, pošlete nám požadavek emailem nebo nám zavolejte.</div>
														</div>
													</div>	
												</div>
											</div>
											<a href ng-show="reservation.tables.length<4" ng-click='reservation.tables.push({});' class='btn btn-info add-table'>Přidat stůl</a>

										</div>
									</div>
							
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<%= button_tag "Zarezervovat!", :value => "", :class=>"btn btn-success", :title=>"Zarezervovat!"%>
				</div>			
			</div>					
		<% end %>					
		<div class="send_status">
				<div class="alert alert-danger error" role="alert">Omlouváme se, rezervace se bohužel nepovedla. Zkuste to prosím znovu.</div>
				<div class="alert alert-success success" role="alert">Úspěšně zarezervováno. Děkujeme. Pokud by se něco změnilo, budeme Vás kontaktovat na telefon nebo emailem.</div>
		</div>	
	</div>
</div>	