html, body{
	height: 100%;
	
}
body{
	background-color: $pageside-bg;	
	
	a, a:hover{
		color: $admin-main-color;
	}
}

.container-fluid{
	height:100%;
}

/* forms */

form{
	.form-control, .form-control:focus{
		box-shadow: none;
	}
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

select{
	@extend .form-control;
	padding: 0;
	width: 100%;
	height: 34px;
}


//nice checkbox
input[type="checkbox"][id^="checkbox-10-"] {
	display: none;
}

input[type="checkbox"][id^="checkbox-10-"] + label {
	cursor: pointer;
	font-size: 1em;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-bottom: 0;
}


[id^="checkbox-10-"] + label {
	background-color: #fafbfa;
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	width: 40px;
	height: 15px;
}

[id^="checkbox-10-"] + label:after {
	content: ' ';
	position: absolute;
	top: 0;
	-webkit-transition: box-shadow 0.1s ease-in;
	transition: box-shadow 0.1s ease-in;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
}

[id^="checkbox-10-"] + label:before {
	content: ' ';
	position: absolute;
	background: white;
	top: 1px;
	left: 1px;
	z-index: 1;
	width: 31px;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	height: 31px;
	border-radius: 100px;
	box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
}

[id^="checkbox-10-"]:active + label:after {
	box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}

[id^="checkbox-10-"]:active + label:before {
	width: 37px;
}

[id^="checkbox-10-"]:checked:active + label:before {
	width: 37px;
	left: 20px;
}

[id^="checkbox-10-"] + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

[id^="checkbox-10-"]:checked + label:before {
	content: ' ';
	position: absolute;
	left: 26px;
	border-radius: 100px;
}

[id^="checkbox-10-"]:checked + label:after {
	content: ' ';
	font-size: 1.5em;
	position: absolute;
	background: $btn-success-bg;
	box-shadow: 0 0 1px $btn-success-bg;
}




/* buttons */

.btn{
	border-radius: 0;
	border-width: 3px;
	color: $text-color;
	background: none;
}
.btn.btn-default{
	color: $btn-default-color;
	&:hover{
		background-color: $btn-default-bg;
		border-color: $btn-default-border;
		color: $btn-default-color-hover;

	}
}

.btn.btn-primary{
	color: $btn-primary-color;
	&:hover{
		background-color: $btn-primary-bg;
		border-color: $btn-primary-border;
		color: $btn-primary-color-hover;

	}
}

.btn.btn-success{
	color: $btn-success-color;
	&:hover, &:focus{
		background-color: $btn-success-bg;
		border-color: $btn-success-border;
		color: $btn-success-color-hover;

	}
}

.btn.btn-info{
	color: $btn-info-color;
	&:hover{
		background-color: lighten($btn-info-bg, 20);
		border-color: $btn-info-border;
		color: $btn-info-color-hover;

	}
}

.btn.btn-warning{
	color: $btn-warning-color;
	&:hover, &:focus{
		background-color: $btn-warning-bg;
		border-color: $btn-warning-border;
		color: $btn-warning-color-hover;
	}
}

.btn.btn-danger{
	color: $btn-danger-color;
	&:hover{
		background-color: $btn-danger-bg;
		border-color: $btn-danger-border;
		color: $btn-danger-color-hover;

	}
}
.btn.btn-filter{	
	box-shadow: none;	
	border-color: $btn-filter-color;
	color: $btn-filter-color;
	background: $btn-filter-bg;	

	&:hover, &:focus, &:active{
		box-shadow: none;
	}
	&:hover, &.active{	

		background: $btn-filter-color;		
		border-color: $btn-filter-color;
		color: $btn-filter-color-hover	

	}
	
}

/* action icos */
.ico{
	@extend .fa;	
	display: inline-block;
	text-decoration: none;
	width: 32px;
	height: 32px;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	border: 0;
	&:hover, &:focus{
		text-decoration: none;
		cursor: pointer;
	}
	&.ico-destroy{		
		@extend .fa-trash;
		color: $btn-danger-color;
		background-color: lighten($btn-danger-color, 37);
		&:hover{
			background-color: $btn-danger-color;
			color: white;
		}
	}
	&.ico-edit{
		@extend .fa-pencil;
		color: $btn-warning-color;
		background-color: lighten($btn-warning-color, 32);
		&:hover{
			background-color: $btn-warning-color;
			color: white;
		}
	}
	&.ico-save{
		@extend .fa-save;
		color: $btn-success-color;
		background-color: lighten($btn-success-color, 45);
		&:hover{
			background-color: $btn-success-color;
			color: white;
		}
	}
	&.ico-back{
		@extend .fa-undo;
		color: $btn-info-color;
		background-color: lighten($btn-info-color, 45);
		&:hover{
			background-color: $btn-info-color;
			color: white;
		}
	}
	&.ico-new{
		@extend .fa-plus-square;
		color: $btn-success-color;
		background-color: lighten($btn-success-color, 45);
		&:hover{
			background-color: $btn-success-color;
			color: white;
		}
	}
	&.ico-info{
		@extend .fa-info;
		color: $btn-filter-color;
		background-color: lighten($btn-filter-color, 45);
		&:hover, &:focus{
			background-color: $btn-filter-color;
			color: white;
		}
	}
}



/* header */

#header{
	background: $header-bg;
	border-bottom: 2px solid $header-border-color;
	color: $header-text;
	display: table;
	width: 100%;
	a{
			color: white;
			&:focus, &:hover{
				text-decoration: none;
			}
	}
	.header-left{
		display: table-cell;
	}
	.header-content{
		display: table-cell;
		width: 100%;
		h1{
			font-size: 1.2em;
		}
	}
	.header-right{
		display: table-cell;
	}
	
}


#page-wrapper{
	position: relative;
	min-height: 100%;
	@media (max-width: $screen-sm ){
		overflow: hidden;
	}

}



/* side menu */

#page-side{
	position: absolute;
	left:0;
	width: 200px;
	background-color: $pageside-bg;
	height: 100%;
	font-size: 1.1em;
	
	/* nav */
	ul.sidenav{	
		list-style: none;
		padding-left: 0;
		li{
			font-variant: small-caps;			
			&:not(:last-child){
				border-bottom: 1px solid $admin-border-color;
			}
			a{
				border-radius: 0;
				display: block;
				width: 100%;
				padding: 10px 20px;
				color: $pageside-button-text;
				text-decoration: none;

			}
			a:hover{
				background-color: white;
			}
			&.active{
				background-color: $pageside-button-bg;
				&>a{					
					color: white;
					&:hover{
						background-color: $pageside-button-bg;
					}					
				}
				li{
					background: $pageside-bg;
				}
				li.active{
					background: $pageside-button-bg;
				}
			}		
			
			//submenus
			ul{
				display: none;
				list-style: none;
				padding-left: 0;
				li{
					padding-left: 34px;			
				}
				li:not(.active):hover{
					background-color: white;
				}
			}
			&.active-parent
			{
				background-color: white;
				ul{
					display: block;
					
					li{
						background-color: $pageside-bg;
						&.active{
							background: $pageside-button-bg;
						}
					}
				}
			}
		}
	}
		
}
//responsive side menu

#page-wrapper.hidden-nav{
	@media (max-width: $screen-sm ){
		overflow: visible;
		#page-main-container{
			left: 0;
			right: 0;
		}
	} 
}



/* main content */
#page-main-container{
	background: $admin-bg-light;
	min-height: 100%;
	position: absolute;
	left:200px;
	right: 0;	
	border-left: 1px solid $admin-border-color;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	@media (max-width: $screen-sm ){
		right: -200px;
	}
}

/* page content */
#page-main-container{	
	h1{
		color: $admin-main-color;
		padding-left: 20px;
		padding-bottom: 15px;
		padding-top: 15px;
		margin-top: 0;
		background: #FFFFFF;
		font-variant: small-caps;
		border-bottom: 1px solid #dfdfdf;
		font-size: 2em;
	}
	#page-main{	
		padding: 10px 20px;
		.btn{
			padding: 3px 6px;
			font-weight: bold;
		}
	
		
	}


}




/** panel headings */
.panel-heading{
	padding: 0;
	height: 40px;
	line-height: 40px;
	.panel-heading-content{
		padding: 0 20px;
		display: inline-block;
	}
	.icos-left i{
		border-right: 1px solid $admin-border-color;
		font-size: 20px;
		line-height: 40px;
		width: 40px;
		display: inline-block;
		text-align: center;	
		cursor: pointer;	
		background: white;
	}
	.icos-right{
		.ico{
			font-size: 20px;
			line-height: 40px;
			height: 40px;
			width: 40px;
			display: block;
			float: left;
			border-left: 1px solid $admin-border-color;							
			cursor: pointer;	
		}
		
	}
}