.menu{
	.menu-content{
		border-right: 1px solid $admin-border-color;
			ul, ol{
				list-style-type: none;
			}
	
			.food-list li.placeholder{
					border: 2px dashed $admin-main-color;
				}			
			}


	.menu-right-sidebar{
				
		border-left: 1px solid $admin-border-color;
		margin-left: -1px;
		.sidebar-heading{
				color: $admin-main-color;
				padding-left: 20px;
				padding-bottom: 15px;
				padding-top: 15px;
				margin-top: 0;
				font-variant: small-caps;
				border-bottom: 1px solid #dfdfdf;
				font-size: 1.4em;
		}

		.menu-right-nav{

			width: 100%;
			ul, ol{
				list-style-type: none;
			}
			ol{
				padding-left: 34px;
			}
			li{
				.li-content{
					height: 34px;
					margin-top:-1px;
					background: white;
					width: 100%;
					display: table;
					border: 1px solid $admin-border-color;
					vertical-align: middle;
					.icos-left, .icos-right, .li-content-content{
						display: table-cell;
						vertical-align: middle;
						white-space: nowrap;
						width: 100%;
					}
					.li-content-content{
						a{
							display: block;
							padding: 6px 12px;
							text-decoration: none;
							color: $pageside-button-bg;
							&:hover{
								background: $pageside-bg	;
							}
						}
						.form-control{
							height: 32px;
							border-width: 0;
							&:focus{
								border-width: 1px;
							}
						}
					}
					.icos-left{
						width: 1%;
					 	i{
							border-right: 1px solid $admin-border-color;
							font-size: 20px;
							line-height: 32px;
							width: 34px;
							display: inline-block;
							text-align: center;	
							cursor: pointer;	
						}
					}
					.icos-right{
						word-spacing: -4px;
						.ico{
							display: inline-block;
							border-left: 1px solid $admin-border-color;							
							cursor: pointer;	
							padding: 0;
						}
						
					}

				}

				&.placeholder{
					border: 2px dashed $admin-main-color;
				}

				&.active{
					&>div>.li-content>.li-content-content>a{
						background: $pageside-button-bg;
						color: white;
					}					
				}
			}

			
		} 

		.new-cat-li{
			width: 100%;
			form{
				.input-group{
					width: 100%;
				}
			}
			.input-group-btn{
				width: 1%;
			}
			button{
				height: 34px;
				min-width: 34px;
			}
		}
	}
	


}