// Place all the styles related to the admin/nav controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.nav_structure{
	.li_content{
		background: white;
		display: inline-block;
		margin: 3px 0;
		border: 1px solid $admin-border-color;
		padding: 3px 10px;
	}
	ul.subtree{
		list-style-type: none		
	}
}