.popover{
	max-width: 350px;
}
.reservations{
	.reservations-list-container{
		.room-container{
			.reservations-list{
				.filtering{
					display: table;
					width: 100%;
					padding: 0;
					.btn{
						display: table-cell;
						width: auto;
						&:first-child{
							border-right: 0;
						}

					}
					&:hover{
						.btn.active{

							background: $btn-filter-bg;	
							color: $btn-filter-color;			
							cursor: default;
							&:hover{
								background: $btn-filter-color;
								color: $btn-filter-color-hover;
							}

						}
					}
				}
				.reservation{
					display: table;
					width: 100%;
					padding: 5px 5px;						
					.reservation-content{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						padding: 5px 5px;
						&:not(:first-child){
							border-left: 1px solid $admin-border-color;
						}
						&.table-number{
							width: 43px;
						}
						&.destroy{
							width: 75px;
							font-size: 0px;
						}
					}
				}
			}
		}
	}

	.reservation-add-container{
		.reservation-tables{
			.reservation-table{
			}
			.add-table{
				margin-top: 10px;
			}
		}
	}
}
