
/* global */
$admin-bg-light: #F8F8F8;
$admin-border-color: #DFDFDF;

$admin-main-color: #2A9C57;

/* header */

$header-bg: #3F3F3F;
$header-text: #F8F8F8;
$header-border-color: #888888;


/* page-side */

$pageside-bg: #ECECEC;
$pageside-button-bg: $admin-main-color;
$pageside-button-text: $admin-main-color;