.image-upload-widget{
	
	.image-upload-info-container{
		border: 4px dashed #ddd;
		padding: 10px;
		min-height: 150px;
		position: relative;
		text-align: center;
		background: whitesmoke;					
		
		.image-caption{
				word-wrap: break-word;
		}
		.image-upload-buttons-container{

			font-size: 0;
			white-space: nowrap;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;		

			.image-upload {
				position: relative;
				overflow: hidden;
				margin: 10px;
				margin-right: 0;
				display: inline-block;					
				.image-upload-input {
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					padding: 0;
					font-size: 20px;
					cursor: pointer;
					opacity: 0;
					filter: alpha(opacity=0);
				}
			}
			&>*{
				vertical-align: middle;
			}
			.image-upload-delete-image-input{
				display: none;
			}
		}
	}

	.image-edit{
		position: relative;
		.image-upload-uploaded-image{
			width: 100%;
		}
		.image-upload-info-container{
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		&:hover{
			.image-upload-info-container{
				display: block;
			}
		}
	}
	.image-new{
		.image-upload-delete-image-btn{
			display: none;
		}
	}
}






/*** time picker widget **/


.time-input-widget{
	.timepicker{
		display: table;
		width: 100%;
		.timepicker-col{
			text-align: center;
			display: table-cell;
			.timepicker-select{
				@extend .form-control;
				padding: 0;
				width: 100%;
				height: 34px;
			}
		}
		
	}
	
}