<h4 class="sidebar-heading">Seznam kategorií v jídelníčku</h4>
<ol class="menu-right-nav list-unstyled"> 
  <% @food_categories.arrange(:order => :position).each do |food_cat, sub_food_cats| %>
     <%= render 'menu_category_nav_item', { :item => food_cat, :sub_items=> sub_food_cats } %>
  <% end %>     
</ol>
<div class="new-cat-li">
  <div>
      <%= form_for [:admin, @new_food_cat_form], :html => {:class=>"form-inline new_cat_form"} do |f| %> 
        <div class="input-group">
          <%= f.text_field :name, :class=> "form-control", :placeholder=> "Název nové kategorie" %>
          <span class="input-group-btn">
            <%= button_tag "", type: 'submit', class: "ico ico-save", title: "Uložit kategorii" %>        
          </span>  
        </div>          
      <% end %>
    </div>
</div>
