
<div class="food-panels-container editing-panels-container"> 
  <div class="row">
    <div class="col-md-12">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <!-- food list -->
          <ol class="food-list list-unstyled ui-nestedSortable-no-nesting">
            <% unless @foods.blank? 
                @foods.each_with_index do |food, i|
            %>
            <li id="food_<%=food.id%>" class="ui-nestedSortable-no-nesting">
              <div class="ui-nestedSortable-no-nesting">
                <div class="panel panel-default food editing-panel" id='food-<%=i%>'>
                  <%= form_for([:admin, food], :html => { :multipart => true }) do |f| %>
                    <div class="panel-heading" role="tab" id="headingOne">
                      <!-- normal display -->            
                        <span class="icos-left">
                          <i class="fa fa-arrows"></i>
                        </span>
                        <div class="panel-heading-content"><%= food.name %></div>    
                        <span class="icos-right pull-right info">
                          <a title="Upravit jídlo" class="ico ico-edit" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i+1 %>" aria-expanded="true" aria-controls="collapse<%= i+1 %>"   ></a> 
                          <%= link_to "",admin_menu_category_menu_food_path(food.menu_category_id, food.id), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :title=>"Odstranit", :class=>"ico ico-destroy" %>   
                        </span>

                      <!-- edit display -->
                        <span class="icos-right pull-right edit">
                          <%= button_tag "", :value => "", :class=>"ico ico-save", :title=>"Uložit"%>
                          <a title="Zrušit úpravy" class="ico ico-back" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i+1 %>" aria-expanded="true" aria-controls="collapse<%= i+1 %>"  ></a>  
                          <%= link_to "",admin_menu_category_menu_food_path(food.menu_category_id, food.id), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :title=>"Odstranit", :class=>"ico ico-destroy" %>   
                        </span>
                    </div>
                    <div id="collapse<%= i+1 %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= i+1 %>">
                      <div class="panel-body">
                        
                          <div class="row">
                            <div class="col-sm-8">
                              <div class="form-group">
                                <%= f.label :name do %>Název<%end%>
                                <%= f.text_field :name, :class =>"form-control", :placeholder => "Název jídla"%>
                              </div>
                              <%= f.label :price do %>Cena<%end%>
                              <div class="form-group">
                                <div class="input-group">
                                  <%= f.number_field :price, :class =>"form-control", :min=>"1", :placeholder => "Cena"%>
                                  <div class="input-group-addon">Kč</div>
                                </div>
                              </div>
                              <div class="form-group">
                                <%= f.label :quantity  do %>Množství<%end%>
                                <%= f.text_field :quantity, :class =>"form-control", :id=>"new_food_form_name", :placeholder => "Množství"%>
                              </div>
                              <div class="form-group">
                                <%= f.label :description do %>Popis<%end%>
                                <%= f.text_area :description, :class =>"form-control", :placeholder => "Popis"%>
                              </div> 
                              <%= f.hidden_field :menu_category_id %>
                                        
                            </div>
                            <div class="col-sm-4 ">
                              <%= render 'admin/shared/img_upload/img_upload', { :form => f, :image => food.image, :image_input_name => 'image' } %>

                            </div>
                          </div>      
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </li>
            <% end 
            end %>
          
          </ol>



           <% if false %>
                 <a href="<%= url_for controller: "/static_pages", action: "show", id: food.slug%>" class="btn btn-default" title="Zobrazit na webu">
                  <i class="fa fa-eye"></i>
                </a>
                
                <%= link_to edit_menu_food_path(@food), :class=>"btn btn-warning", :title=>"Upravit" do%>
                    <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to menu_food_path(@food), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :class=> "btn btn-danger", :title=>"Odstranit" do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
        </div>
      </div>
  </div>
</div>