<% li_classes = ""
	li_ids = ""
	
	li_ids << "menuItem_"+item.id.to_s
	li_classes << "has_children" if item.has_children?
	li_classes << " active" if item.id == params[:id].to_i
%>

<li id="<%= li_ids %>" class="<%= li_classes %>">
	<div>
		<!-- normal display -->
		<span class="li-content info">
			<span class="icos-left">
				<i class="fa fa-arrows"></i>
			</span>
			<span class="li-content-content">
				<%= link_to item.name, admin_menu_category_path(item.id) %>	
			</span>
			<span class="icos-right">
					<a title="Změnit název" class="ico ico-edit"></a>	
					<%= link_to "",admin_menu_category_path(item.id), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :title=>"Odstranit", :class=>"ico ico-destroy" %>	
			</span>
		</span>
		<!-- edit -->
	
		<span class="li-content edit">
			<%= form_for([:admin, item] , :class=> "form") do |f| %>
				<span class="icos-left">
					<i class="fa fa-arrows"></i>
				</span>				
				<span class="li-content-content">
					<span class="form-group">
		    			<%= f.text_field :name, :class=>"cat-name-edit-field form-control" %>
	    			</span>
	    		</span>
				<span class="icos-right">
						<%= button_tag "", :value => "", :class=>"ico ico-save", :title=>"Uložit"%>
						<a title="Zrušit úpravy" class="ico ico-back"></a>	
						<%= link_to "",admin_menu_category_path(item.id), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :title=>"Odstranit", :class=>"ico ico-destroy" %>
						
				</span>

			<% end %>	
		</span>

	</div>
	<% unless sub_items.empty? %>
		<ol class="subtree">
			 <% sub_items.each do |food_cat, sub_food_cats| %>
         		<%= render 'menu_category_nav_item', { :item => food_cat, :sub_items=> sub_food_cats } %>
      		<% end %>
		</ol>
	<%end%>
</li>