<!-- new food -->
<div class="food-panels-container editing-panels-container"> 
  <%= form_for([:admin, @new_food_form], :html => { :multipart => true }) do |f| %>
    <div class="panel panel-default food new-food editing-panel" id="new-food">    
      <div class="panel-heading" role="tab" id="headingOne">
        <div class="panel-heading-content">Nové jídlo</div>              
          <span class="icos-right pull-right info">
            <a title="Přidat jídlo" class="ico ico-new" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0"   ></a> 
             
          </span>
          <span class="icos-right pull-right edit">
            <%= button_tag "", :value => "", :class=>"ico ico-save", :title=>"Uložit jídlo"%>
            <a title="Zrušit" class="ico ico-back" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0"  ></a>  
           </span>
      </div>
      <div id="collapse0" class="panel-collapse collapse <%= 'in' if @foods.nil? %> " role="tabpanel" aria-labelledby="heading0">
        <div class="panel-body">
          
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <%= f.label :name  do %>Název<%end%>
                  <%= f.text_field :name, :class =>"form-control", :id=>"new_food_form_name", :placeholder => "Název jídla", :required=>''%>
                </div>
                <%= f.label :price do %>Cena<%end%>
                <div class="form-group">
                  <div class="input-group">
                    <%= f.number_field :price, :class =>"form-control", :min=>"1", :placeholder => "Cena", :required=>''%>
                    <div class="input-group-addon">Kč</div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :quantity  do %>Množství<%end%>
                  <%= f.text_field :quantity, :class =>"form-control", :id=>"new_food_form_name", :placeholder => "Množství"%>
                </div>
                <div class="form-group">
                  <%= f.label :description do %>Popis<%end%>
                  <%= f.text_area :description, :class =>"form-control", :placeholder => "Popis"%>
                </div> 
                <%= f.hidden_field :menu_category_id %>
                          
              </div>
              <div class="col-sm-4"> 
                   <%= render 'admin/shared/img_upload/img_upload', { :form => f, :image_input_name => 'image' } %>
              </div>
            </div>             
          </div>
      </div>
    </div>

  <% end %>
</div>