<% content_for :page_heading  do %>
  <h1>Jídelníček</h1>
<% end %>

<div class="row menu">
  <div class="col-md-7 col-lg-8 menu-content">
    <div class="row">
      <div class="col-md-12">
        <%= render "admin/shared/admin_messages"%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
         <% if(@food_categories.empty?) %>
            <div class="panel panel-default">
              <div class="panel-heading"><div class="panel-heading-content"><strong>Vytvořte prosím jako první kategorie jídelníčku</strong></div></div>
              <div class="panel-body">
                Pro manipulaci s jídelníčkem a jeho tvoření musí být veškerá jídla zařazena do kategorií, popřípadně podkategorií. Kategorii přidáte v <strong>pravé části stránky <i class="fa fa-2x fa-arrow-circle-right"></i></strong>. <br>
                <br>
                Příklady kategorií: 
                <ul>
                  <li>Překrmy</li>
                  <li>Polévky</li>
                  <li>Hlavní jídla
                    <ul>
                      <li>Z krutího masa</li>
                      <li>Z kuřecího masa</li>
                      <li>Sladká</li>
                    </ul>
                  </li>
                  <li>Zákusky</li>
                  <li>Nápoje
                    <ul>
                      <li>Vína</li>
                      <li>Piva</li>
                      <li>Nealkoholické</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

       
        <% else %>
          <div class="panel panel-default">
              <div class="panel-heading"><strong>Přepněte se prosím do kategorie, se kterou chcete manipulovat</strong></div>
              <div class="panel-body">                
                Přepněte se prosím do kategorie, se kterou chcete manipulovat kliknutím na ni.
              </div>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-4 menu-right-sidebar">   
      <%= render "category_nav" %>
  </div>
</div>
