<% content_for :page_heading  do %>
  <h1>Jídelníček - <%= @category.name %></h1>
<% end %>
<div class="row menu">
  <div class="col-md-7 col-lg-8 menu-content">
    <div class="row">
      <div class="col-md-12">
        <%= render "admin/shared/admin_messages"%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render "new_food" %>
        <%= render "food_list"%>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-4 menu-right-sidebar">   
      <%= render "category_nav" %>
  </div>
</div>