 <div class="row">
 	<div class="col-md-12" style="margin-top: 30px;">
		<div class="row">
			<div class="col-md-12">
			    <%= render "admin/shared/admin_messages"%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-push-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-heading-content">Přihlášení do administrace</div>
					</div>
					<div class="panel-body">
						<%= form_tag controller: 'login', action: 'create' do%>
							
							<div class="form-group">
								<label for="username-input">Uživatelské jméno</label>
								<input type="text" class="form-control" name="username">
							</div>
							<div class="form-group">
								<label for="username-input">Heslo</label>
								<input type="password" class="form-control" name="password">
							</div>
							<div class="form-group text-center">
								<%= button_tag "Přihlásit se", :value => "", :class=>"btn btn-success text-center", :title=>"Přihlásit se"%>
		            
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>


 	</div>
 </div>