<% content_for :page_heading  do %>
  	<h1>Administrace restaurace</h1>
<% end %>

<div class="row">
	<div class="col-md-12">
		 <div class="row">
			<div class="col-md-12">
			    <%= render "admin/shared/admin_messages"%>
			</div>
		</div>
	</div>
</div>
