body{
	font-size: 16px;
	position: relative
}

a{
	color: #002E62;
	&:hover, &:active, &:focus{
		color: darken( #002E62, 10);
	}
}

h1,h2,h3,h4,h5,h6{
	color: $main-color;
	border-bottom: 1px solid #eee;
}
/** header **/
#header{
	background: url("slider1.png");
	background-size: cover;
	height: 300px;
	.row{
		position: relative;
		height: 300px;		
		.header-inner{
			display: table;
			position: absolute;
			width: 100%;
			bottom: 0;
			border-bottom: 1px solid #e7e7e7;
			.logo{			
				background: white;
				padding: 10px;
				img{
					width: 200px;
				}	
			
			}
			.nav-wrapper{
				width: 100%;
				display: table-cell;
				vertical-align: bottom;
				.navbar{
					background: $main-color;
					border-radius: 0;
					margin-bottom: 0;
					border-bottom: 0;
					.navbar-nav{
						li{
							a{
								color: white;
								&:hover, &:active, &:focus{
									background: lighten( $main-color, 10); 
								}
							}
							&.active{
								a{
									background: white;
									color: #333;
								}
							}
							&.dropdown{
								ul li{
									a{
										color: #333;
										&:hover, &:active, &:focus{
											color: white;
										}
									}
								}

							}							
						}
					}
				}
			}		
		}		
	}
	@media (max-width: $screen-sm ){
		height: auto;
		.row{
			height: auto;
			.header-inner{
				display: block;
				position: relative;
				.logo, .nav-wrapper{
					display: block;
					&.logo{
						text-align: center;
					}
					.navbar{
						background: $main-color;
						z-index: 1;
						.navbar-header{
							.navbar-brand{
								color: white;
							}
							.navbar-toggle{
								background-color: #dddddd;
								&:focus, &:active, &:hover{
									background: white;
								}
							}
						}
					}
				}
			}
		}
	}
}

.btn, .form-control{
	border-radius: 0
}

/* icos */

/* action icos */
.ico{
	@extend .fa;	
	display: inline-block;
	text-decoration: none;
	width: 32px;
	height: 32px;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	border: 0;
	&:hover, &:focus{
		text-decoration: none;
		cursor: pointer;
	}
	&.ico-destroy{		
		@extend .fa-trash;
		color: $btn-danger-bg;
		background-color: lighten($btn-danger-bg, 37);
		&:hover{
			background-color: $btn-danger-bg;
			color: white;
		}
	}
	&.ico-edit{
		@extend .fa-pencil;
		color: $btn-warning-bg;
		background-color: lighten($btn-warning-bg, 32);
		&:hover{
			background-color: $btn-warning-bg;
			color: white;
		}
	}
	&.ico-save{
		@extend .fa-save;
		color: $btn-success-bg;
		background-color: lighten($btn-success-bg, 45);
		&:hover{
			background-color: $btn-success-bg;
			color: white;
		}
	}
	&.ico-back{
		@extend .fa-undo;
		color: $btn-info-color;
		background-color: lighten($btn-info-color, 45);
		&:hover{
			background-color: $btn-info-color;
			color: white;
		}
	}
	&.ico-new{
		@extend .fa-plus-square;
		color: $btn-success-bg;
		background-color: lighten($btn-success-bg, 45);
		&:hover{
			background-color: $btn-success-bg;
			color: white;
		}
	}
	&.ico-info{
		@extend .fa-info;
		color: $btn-filter-color;
		background-color: lighten($btn-filter-color, 45);
		&:hover, &:focus{
			background-color: $btn-filter-color;
			color: white;
		}
	}
}

//nice checkbox
input[type="checkbox"][id^="checkbox-10-"] {
	display: none;
}

input[type="checkbox"][id^="checkbox-10-"] + label {
	cursor: pointer;
	font-size: 1em;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-bottom: 0;
}


[id^="checkbox-10-"] + label {
	background-color: #fafbfa;
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	width: 40px;
	height: 15px;
}

[id^="checkbox-10-"] + label:after {
	content: ' ';
	position: absolute;
	top: 0;
	-webkit-transition: box-shadow 0.1s ease-in;
	transition: box-shadow 0.1s ease-in;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
}

[id^="checkbox-10-"] + label:before {
	content: ' ';
	position: absolute;
	background: white;
	top: 1px;
	left: 1px;
	z-index: 1;
	width: 31px;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	height: 31px;
	border-radius: 100px;
	box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
}

[id^="checkbox-10-"]:active + label:after {
	box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}

[id^="checkbox-10-"]:active + label:before {
	width: 37px;
}

[id^="checkbox-10-"]:checked:active + label:before {
	width: 37px;
	left: 20px;
}

[id^="checkbox-10-"] + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

[id^="checkbox-10-"]:checked + label:before {
	content: ' ';
	position: absolute;
	left: 26px;
	border-radius: 100px;
}

[id^="checkbox-10-"]:checked + label:after {
	content: ' ';
	font-size: 1.5em;
	position: absolute;
	background: $main-color;
	box-shadow: 0 0 1px $main-color;
}
select{
	@extend .form-control;
	padding: 0;
	width: 100%;
	height: 34px;
}
/*** time picker widget **/


.time-input-widget{
	.timepicker{
		display: table;
		width: 100%;
		.timepicker-col{
			text-align: center;
			display: table-cell;
			.timepicker-select{
				@extend .form-control;
				padding: 0;
				width: 100%;
				height: 34px;
			}
		}
		
	}
	
}
.panel-heading{
	padding: 0;
	height: 40px;
	line-height: 40px;
	.panel-heading-content{
		padding: 0 20px;
		display: inline-block;
	}
	.icos-left i{
		border-right: 1px solid #ddd;
		font-size: 20px;
		line-height: 40px;
		width: 40px;
		display: inline-block;
		text-align: center;	
		cursor: pointer;	
		background: white;
	}
	.icos-right{
		.ico{
			font-size: 20px;
			line-height: 40px;
			height: 40px;
			width: 40px;
			display: block;
			float: left;
			border-left: 1px solid #ddd;							
			border-bottom: 1px solid #ddd;							
			cursor: pointer;	
		}
		
	}
}

.main-left-col{
	border-right: 1px solid #eee;
	margin-right: -1px;
}
.main-right-col{
	border-left: 1px solid #eee;
}

.bg-normal, .bg-highlight{
	padding: 60px 0;
}

.bg-normal{
	strong{
		color: $main-color;
		font-variant: small-caps;
	}
}
.bg-highlight{
	background: $main-color;
	color: white;
	a{
		color: white;
	}
}



.sidebar-panel{
		.sidebar-panel-heading{
			color: $main-color;
			margin-bottom: 10px;
			border-bottom: 1px solid #eee;
			h3{
				border-bottom: 0;
			}
		}
		.sidebar-panel-body{
			padding-left: 20px;
		}
		padding-bottom: 30px;
		.actuality{
			.actuality-heading{
				h4{
					margin-bottom: 0;
				}
				.publish-date{
					color: lighten(#333, 20);
					font-size: 10px;
				}
			}
			.actuality-content{
				font-size: 16px;
			}
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;
		}
		iframe{
			width: 100%;
		}
		&.reservation{
			.btn{
				width: 100%;
			}
		}
	}


