.homepage{
	.opening{
		.opening-text{

		font-size: 28px;
		}
	}

	.reservation{
		.heading{
			font-size: 28px;
		}
		.panel{
			border-radius: 0;
		}
		#new_reservation{
			margin-top: 30px;
			color: #333;
			font-size: 14px;
		}
	}
	.location{
		.heading{
			font-size: 28px;
		}
		.map{
			width: 100%;
		}
	}
}