.jidelnicek{
	margin-top: 20px;
	.menu-nav-wrapper.affix{
		top: 10px;
	}
	.menu-nav-wrapper{
		@for $i from 1 through 4{
			.subitem-#{$i}{
			    margin-left: (10px*$i)
			}
		}
		li.active a{
			background: $main-color;
		}
	}
}