<div id="food-cat-<%=item.id%>">
	<div class="panel panel-default">
		<div class="panel-heading"><div class="panel-heading-content"><%= item.name %></div></div>
		<div class="panel-body">
			<% if (item.menu_food.blank? && subitems.blank?) %>
				Žádná jídla v této kategorii nejsou :( 
			<% end %>
			<table class="table ">
			<% item.menu_food.each do |food| %>

				
					<tr id="menu-food-<%=food.id%>">
						<td><%=food.quantity%></td>
						<td><%= image_tag food.image.url(:thumb) if food.image.exists? %></td>
						<td><%=food.name %></td>

						
						<td><%= food.price %>&nbsp;Kč</td>
					</tr>		
				
			<% end %>
			</table>

<% unless subitems.nil? %>
	<% subitems.each do |item, subitems| %>
		<%= render "static_pages/jidelnicek/menu_display_cat", :item => item, :subitems => subitems %>				
	<% end %>
<% end %>
				

		</div>
	</div>
</div>


