<% li_classes = "" 

   li_classes << "subitem-#{item.depth}" if item.depth>0 %>
<li class="<%= li_classes %>"><a href="#food-cat-<%=item.id%>"><%= item.name %></a></li>
<% unless subitems.nil? %>
	<% subitems.each do |item, subitems| %>		
		<%= render "static_pages/jidelnicek/nav_item", :item => item, :subitems => subitems %>	
	<% end %>
<% end %>