<% time_from ||= "00:00" %>
<% time_to ||= "24:00" %>
<% field ||= {m: time_from.split(":").last.rjust(2, '0'), h:time_from.split(":").first.rjust(2, '0')} %>
<div ng-controller="TimePickerCtrl" class="time-input-widget">

	<div  class = "timepicker" ng-init = "initTimePicker('<%= key %>', '<%=field[:h]%>', '<%=field[:m]%>');initTimeSelect('<%= key %>', '<%=time_from%>', '<%=time_to%>')">	
      <div class="timepicker-col">
         <select class="timepicker-select" ng-change="handleTimeSet('<%=key%>')" ng-model="timePicker['<%= key %>'].h" ng-options = "hour for hour  in timeSelectVals['<%=key%>'].h  ">         		
         </select> 
       </div>
       <div class="timepicker-col">:</div>
       <div class="timepicker-col">
         <select class="timepicker-select" ng-change="handleTimeSet('<%=key%>')" ng-model = "timePicker['<%=key%>'].m" ng-options = "minute for minute in timeSelectVals['<%=key%>'].m[timePicker['<%=key%>'].h] ">
  			
         </select>
       </div>
       <input type="hidden" value = "{{timePicker['<%= key %>'].h}}" name = "<%=key%>[h]" >
       <input type="hidden" value = "{{timePicker['<%= key %>'].m}}" name = "<%=key%>[m]" >
      
    </div>
</div>