
<%= form_for([:admin, @admin_static_page]) do |f| %>
  <% if @admin_static_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_static_page.errors.count, "error") %> prohibited this static_page from being saved:</h2>

      <ul>
      <% @admin_static_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>    
    <div class="form-group">
        <%= f.label :title do %>Nadpis<%end%>
        <%= f.text_field :title, :class =>"form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :content do %>Obsah<%end%><br>
        <%= f.text_area :content, :class =>"form-control tinymce"  %>
      </div>
      <% if @admin_static_page.id == 1 %>
      <div class="row">
        <div class="col-md-6">
           <div class="form-group">
            <label for="settings[:food_carousel_title]">Upoutávkový text</label>
            <textarea name="static_page[settings][food_carousel_title]" id="settings[:food_carousel_title]" class="form-control tinymce"><%=@admin_static_page.settings[:food_carousel_title] if @admin_static_page.settings %></textarea>
            
          </div>
          <div class="form-group">  
            
              <label for="settings[food_carousel_category]">Výběr kategorie pro upoutávku jídel</label>
              <select id="settings[food_carousel_category]" name="static_page[settings][food_carousel_category]">
                <%= options_from_collection_for_select(MenuCategory.all, :id, :name, @admin_static_page.settings[:food_carousel_category]) %>
              </select>
           
          </div>
        </div>
      </div>
       <% end %>
       <%= tinymce %>


  <div class="actions form-group">
    <%= f.submit :value => "Uložit", :class=>"btn btn-success" %>
 
    <% unless (link_back.blank?) %>
      <%= link_to "Zpět", link_back, :class => "btn btn-info" %>
    <% end %>
     </div>
    
    <input type="hidden" name="nav_item_id" value="<%= params[:nav_item_id] %>" />      
    <input type="hidden" name="nav_id" value="<%= params[:nav_id] %>" />
    <input type="hidden" name="from_nav" value="<%= params[:from_nav] %>" />

<% end %>
