<% content_for :page_heading  do %>
  <h1>Úprava stránky <%=h @admin_static_page.title %></h1>
<% end %>

	<%= render 'form', { :link_back => (@from_nav)?  edit_admin_nav_path(@nav_id) : admin_static_pages_path }%>

