<% content_for :page_heading  do %>
  <h1>Stránky</h1>
<% end %>
<% unless notice.blank? %>
<div class="alert alert-success alert-dismissible">  
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
  </div>
<%end %>
<table class="table table-hover">
  
  <tbody>
    <% @admin_static_pages.each do |admin_static_page| %>
      <tr>
        <td><%= admin_static_page.title %></td>
        
        <td>         
          <%= link_to edit_admin_static_page_path(admin_static_page), :class=>"btn btn-warning", :title=>"Upravit" do%>
              <i class="fa fa-pencil"></i>
          <% end %>
          <% unless (1..5).include? admin_static_page.id  %>
            <%= link_to admin_static_page_path(admin_static_page), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :class=> "btn btn-danger", :title=>"Odstranit" do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nová stránka', new_admin_static_page_path, :class=>"btn btn-success" %>
