    
<% unless notice.blank? %>
  <div class="alert alert-success alert-dismissible">  
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
  </div>
<%end %>

    
<% unless flash.blank? %>
	<%	flash.each do |type, text| %>
	  <div class="alert alert-<%=type%> alert-dismissible">  
	    <%= text %>
	    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
	  </div>
	<% end %>
<%end %>