<% 	classes = '' 
	classes << 'active ' if((controller.controller_name == item['controller'].split('/').last) and (item['subitems'].blank?)) 
	classes << 'active-parent' if( (!item['subitems'].blank?) and ( item['subitems'].map{ |item| item["controller"].split("/").last}.include?(controller.controller_name)  )) 

%>

<li class="<%=h classes %>">
	<%= link_to :controller => item['controller'], :action => item['action'], :id => item['id'], :params=> item['params'] do %>
		<i class="<%=h item['ico'] %>"></i> <%=h item['text'] %>
	<% end %>

	<% unless item['subitems'].blank? %>
		<ul class="subnav">
			<% item['subitems'].each do |item| %>
				<%= render "admin/shared/admin_main_nav_item", :item => item %>
			<% end %>	
		</ul>
	<% end %>
</li>