<% li_classes = "" 

	li_classes << "has_children " if item.has_children?


    nav_item = getNavItem(item[:item_type])




%>

<li class="<%=li_classes%>">
	<span class="li_content">
	<%= item[:name]  %> 
		
		<a href="<%= url_for controller: nav_item[:controller_name], action: nav_item[:action_name], id: item[:url_params][:id] %>" class="btn btn-default" title="Zobrazit na webu">
            <i class="fa fa-eye"></i>
        </a>
		
		<%= link_to new_admin_nav_nav_item_path(params[:id], :parent_id => item[:id]) , :class=> "btn btn-default", :title=>"Přidat podpoložku" do %>
			<i class="fa fa-plus"></i>
		<% end %>

		<%= link_to edit_admin_nav_nav_item_path(params[:id], item[:id]) , :class=> "btn btn-warning", :title=>"Upravit položku" do %>
			<i class="fa fa-pencil"></i>
		<% end %>
		
		 <%= link_to admin_nav_nav_item_path(params[:id], item[:id]), method: :delete, data: { confirm: 'Opravdu chcete smazat?' }, :class=> "btn btn-danger", :title=>"Odstranit" do %>
            <i class="fa fa-trash"></i>
         <% end %>


	</span>
	<%unless subnav.empty?%>
		<ul class="subtree">
			<%=render "admin/shared/nav", :nav=>subnav %>
		</ul>
	<%end%>
</li>