<!DOCTYPE html>
<html>
<head>
  <title>Administrační systém pro restaurace</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'admin.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body >

	<div id ="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-left">
						<a href="#" id="nav-switch"><i class="fa fa-bars  fa-2x visible-xs"></i></a>
					</div>
					<div class="header-content text-center">
						<h1><i class="fa fa-cutlery"></i> Administrační systém pro restaurace </h1>
					</div>
					<div class="header-right">
						<a href="/logout" class="" title="Odhlásit se"><i class="fa fa-2x fa-sign-out"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div id="page-wrapper"  class="hidden-nav">
			<div id= "page-side">
				<ul class="sidenav">		
					<% @side_nav.each do |item| %>
						<%= render "admin/shared/admin_main_nav_item", :item => item %>
					<% end %>			
				</ul>		
			</div>
			<div id="page-main-container">
				<%= yield :page_heading %>
				<div id="page-main">
					<%= yield %>
				</div>
			</div>
		</div>





</body>
</html>
