<!DOCTYPE html>
<html>
<head>
  <title>Dlouhodobka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12"><%= yield %></div>
		</div>
	</div>



</body>
</html>
