<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag    'frontend.css', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= yield :header %>	  
	</head>
	<body>
		<div id ="header">
			<div class="container-fluid">
				<div class="row">
					<div class="header-inner">
						<div class="logo">
							<%= image_tag "logo.png" %>
						</div>				
						<div class="nav-wrapper">
							<nav class="navbar navbar-default">
							  <div class="container-fluid">
							    <!-- Brand and toggle get grouped for better mobile display -->
							    <div class="navbar-header">
							      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							        <span class="sr-only">Toggle navigation</span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							      </button>
							      <span class="navbar-brand visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu</span>
							    </div>

							    <!-- Collect the nav links, forms, and other content for toggling -->
							    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							      <ul class="nav navbar-nav">
							      	<% @nav.each do |item| %>
										<%= render "shared/frontend/nav_item", :item => item %>
									<% end %>								        
							      </ul>							     
							    </div><!-- /.navbar-collapse -->
							  </div><!-- /.container-fluid -->
							</nav>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div id="page">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-9 main-left-col">					
						<%= yield %>
					</div>
					<div class="col-md-3 main-right-col">					
						<%= yield :sidebar %>	
					</div>
					
				</div>
			</div>
		</div>
		<div class="footer">
			&copy; 2015 Restaurace Cyklobar			
		</div>
	</body>
</html>
