<!DOCTYPE html>
<html>
<head>
  <title>Administrační systém pro restaurace</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'admin.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

	<div id ="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content text-center">
						<h1><i class="fa fa-cutlery"></i> Administrační systém pro restaurace </h1>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= yield %>
			</div>
		</div>
	</div>
	
</body>
